footer {
    background: var(--color-section) !important;
    color: #000000;
    padding: 15px 0 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px;
}

.footer-nav h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-verdeclaro) !important;
    letter-spacing: 2px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}

footer a:hover {
    color: var(--color-verdeclaro) !important;
    padding-left: 3px;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 25px;
    color: #ffffff;
    opacity: 0.8;
}


.container-columnas {
    display: flex;
    gap: 40px;
    /* espacio entre los títulos */
}

.footer-descripcion {
    max-width: 230px;
    flex: 10;
    text-align: center;
}

.footer-descripcion img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
}

footer p {
    margin-bottom: 0;
}

.footer-descripcion p {
    font-size: 14px;
    color: #ffffff;
}

.icon-circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff20;
    /* un fondo semitransparente */
    color: white;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.icon-circle:hover {
    background-color: white;
    color: #000;
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        /* centra los bloques */
        text-align: center;
    }

    /* cada sección del footer ocupa todo el ancho */
    .footer-nav,
    .footer-descripcion,
    .container-columnas {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .container-columnas {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer ul {
        padding: 0;
    }

    footer a:hover {
        padding-left: 0;
    }
}

/* ===================== */
/* ===== MÓVIL PEQUEÑO == */
/* ===================== */
@media (max-width: 480px) {
    .footer-nav h3 {
        font-size: 18px;
    }

    .footer-descripcion p {
        font-size: 13px;
    }

    .icon-circle {
        width: 36px;
        height: 36px;
        font-size: 18px;
    }
}